# =========================
# Entornos de Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# =========================
# Datos y Volúmenes (¡Crítico para evitar fugas de datos!)
# =========================
data/*
!data/processed/*
!data/etf.zip
!data/metadata_etf.json

mlruns/

# =========================
# Modelos y Checkpoints de PyTorch
# =========================
models/*ckpt
!models/best/*
lightning_logs/

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
Thumbs.db