# =========================
# Entornos de Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# =========================
# Datos y Volúmenes (¡Crítico para evitar fugas de datos!)
# =========================
data/*
!data/etf.zip
!data/metadata_etf.json

mlruns/

# =========================
# Modelos y Checkpoints de PyTorch
# =========================
models/*
!models/prod/
lightning_logs/

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
Thumbs.db