# =========================
# Entornos de Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# =========================
# Datos y Volúmenes (¡Crítico para evitar fugas de datos!)
# =========================
data/
mlruns/

# =========================
# Modelos y Checkpoints de PyTorch
# =========================
models/
*.pkl
*.ckpt
*.pth
lightning_logs/

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
Thumbs.db